@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";

/* menu */

#menu{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 15px; /* razmer menu */
    margin-right: 15px;/* razmer menu */
    margin-top: 0px;
    background-color: RGB(51,49,58);
    border: 1px beige solid;
}
#menu1{
    background-color: RGB(26,25,30);
    margin-bottom: 0px;
}
#button, #button2{
    background-color: RGB(51,49,58);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: yellowgreen;
    font-family: Bad Script;
    font-weight: bold;
}

#button2{
    background-color: RGB(60, 58, 68);
    font-weight: 100;
}
#button3{
    background-color: beige;
    
}
#button:hover{
    background-color: RGB(26,25,30);
}

#button:focus{
    background-color:RGB(51,49,58);
}
#brand, #navbar-collapse-1{
    background-color: RGB(51,49,58);
     color: yellowgreen;
}

.navbar-brand {
    font-family: Bad Script;
    font-size: 25px;
    font-weight: bold;
}
.dropdown #log{
    width: 200px;
}
#loginText{
    width: 150px;
    margin-top: 20px;
}
#buttonLogin{
    width: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logintext{
    font-size: 15px;
    text-align: center;
    color: black;
}
 #log{
    background-color: RGB(60, 58, 68); 
}

#log2{
    background-color: RGB(60, 58, 68); 
    width: 200px;
    margin: auto;
    
}







/* all */

.index{
    margin-top: 65px;
    margin-bottom: 10px;
    margin-left: 2px; /* razmer index */
    margin-right: 2px; /* razmer index */
    background-color: RGB(182,185,192);
    border: 1px beige solid;  
}
body{
    background-color: RGB(95,87,85);
}



/* registration */
.well{
    background-color:gainsboro;
}
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

