@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";

/* menu */

#menu{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 15px; /* razmer menu */
    margin-right: 15px;/* razmer menu */
    margin-top: 0px;
    background-color: RGB(51,49,58);
    border: 1px beige solid;
}
#menu1{
    background-color: RGB(26,25,30);
    margin-bottom: 0px;
}
#button, #button2{
    background-color: RGB(51,49,58);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: yellowgreen;
    font-family: Bad Script;
    font-weight: bold;
}

#button2{
    background-color: RGB(60, 58, 68);
    font-weight: 100;
}
#button3{
    background-color: beige;
    
}
#button:hover{
    background-color: RGB(26,25,30);
}

#button:focus{
    background-color:RGB(51,49,58);
}
#brand, #navbar-collapse-1{
    background-color: RGB(51,49,58);
     color: yellowgreen;
}

.navbar-brand {
    font-family: Bad Script;
    font-size: 25px;
    font-weight: bold;
}
.dropdown #log{
    width: 200px;
}
#loginText{
    width: 150px;
    margin-top: 20px;
}
#buttonLogin{
    width: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logintext{
    font-size: 15px;
    text-align: center;
    color: black;
}
 #log{
    background-color: RGB(60, 58, 68); 
}

#log2{
    background-color: RGB(60, 58, 68); 
    width: 200px;
    margin: auto;
    
}







/* all */

.index{
    margin-top: 65px;
    margin-bottom: 10px;
    margin-left: 2px; /* razmer index */
    margin-right: 2px; /* razmer index */
    background-color: RGB(182,185,192);
    border: 1px beige solid;  
}
body{
    background-color: RGB(95,87,85);
}





/* registration */
#RegButton{
    margin-bottom: 15px;
}
